# VS stuff
.vs/
.vscode/

# generated items
bin/
lib/
build/
__pycache__/
scripts/python/__pycache__/
src/app/Log.log
src/app/SaveFile.json
src/app/res/models/
src/app/res/textures/
src/app/res/shaders/composed/

# generated and local-specific cmake files
Autogen.cmake
LocalConfig.cmake

# file extenstions
*.pyc
*.shdata