# VS stuff
.vs/
.vscode/

# generated items
bin/
lib/
build/
__pycache__/
scripts/python/__pycache__/
src/application/Log.log

# generated cmake scripts
InitSources.cmake
InitHeaders.cmake
InitResources.cmake
InitUiSources.cmake
InitShaders.cmake
