# VS stuff
.vs/
.vscode/

# generated items
bin/
lib/
build/
__pycache__/
scripts/python/__pycache__/
src/application/Log.log
src/application/SaveFile.json

# generated and local-specific cmake files
Autogen.cmake
LocalConfig.cmake

# file extenstions
*.pyc
*.shdata